.container {
  background-color: red;
  width: 75vw;
  height: 75vh;
  margin: 5em;
  display: flex;
  justify-content: space-between;
}

.colorSwatch {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px black;
}

.colorBlobs {
  display: flex;
  justify-content: space-evenly;
}

.colorSection {
  background-color: orange;
  display: flex;
  flex-direction: column;
}

.colorType {
  background-color: green;
  display: flex;
  justify-content: space-between;
  margin: .5em;
  font-size: larger;


}

.fileHolder {
  background-color: pink;
}

.palette {
  background-color: grey;
  height: 5vh;
  display: flex;
}

.colorInfo{
  display: flex;
}

#color1 {
  background-color: paleturquoise;
  flex: auto;
}

#color2 {
  background-color: purple;
  flex: auto;
}

#color3 {
  background-color: green;
  flex: auto;
}

#color4 {
  background-color: yellow;
  flex: auto;
}
